<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aizhongbei6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E657F5F1ED3CD9800F02187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E657F7B1ED3CD9800F02187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E657F861ED3CD9800F02187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
